input[type="text"]
{
    font-size:24px;
	color: red;
	font-style: italic;
}
input[type="password"]
{
    font-size:15px;
	color: red;
}
input[type="checkbox"]
{
    font-size:20px;
	color: red;
}
input[type="radio"]
{
    font-size:18px;
	color: blue;
}
select option{
    font-size: 18px;
	color: blue;
}
input[type="submit"]
{
    font-size:40px;
	color: red;
	font-style: italic;
}
input[type="reset"]
{
    font-size:30px;
	color: blue;
}